@font-face {
	font-family: 'Resume Inter';
	src: url('/fonts/Inter-VariableFont_opsz,wght.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Resume Inter';
	src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.woff2') format('woff2');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Resume Roboto';
	src: url('/fonts/Roboto-VariableFont_wdth,wght.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Resume Roboto';
	src: url('/fonts/Roboto-Italic-VariableFont_wdth,wght.woff2') format('woff2');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Resume Open Sans';
	src: url('/fonts/OpenSans-VariableFont_wdth,wght.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Resume Open Sans';
	src: url('/fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2') format('woff2');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Resume Montserrat';
	src: url('/fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Resume Montserrat';
	src: url('/fonts/Montserrat-Italic-VariableFont_wght.woff2') format('woff2');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Resume Geist';
	src: url('/fonts/Geist-VariableFont_wght.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Resume Geist';
	src: url('/fonts/Geist-Italic-VariableFont_wght.woff2') format('woff2');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Resume Work Sans';
	src: url('/fonts/WorkSans-VariableFont_wght.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Resume Work Sans';
	src: url('/fonts/WorkSans-Italic-VariableFont_wght.woff2') format('woff2');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}
